.full-align {
    text-align: -webkit-center;
}
.add-user {
    display: inline-grid !important;
    color: darkslategrey;
    /*color: antiquewhite !important;*/
}
.add-user-circle {
    box-shadow: 6px 17px 47px;
    height: 193px !important;
    margin-top: 14%;
    text-align: center !important;
    color: black;
    background: burlywood;
    border-radius: 35px;
    width: 30%;
}
.main-circle {
    box-shadow: 6px 17px 47px;
    height: 135px !important;
    margin-top: 14%;
    text-align: center !important;
    display: block;
    background: burlywood;
    border-radius: 35px;
    width: 50%;
}
.full-options {
    display: inline-grid;
    justify-items: center;
}
.options {
    display: inline-grid !important;
    background: darkslategrey;
    color: antiquewhite;
    border-radius: 35px;
    width: 160%;
    height: 140%;
}
.options:hover {
    background: antiquewhite;
    color: darkslategrey;
    border-radius: 35px;
}
.options:link { text-decoration: none; }
.options:visited { text-decoration: none; }
.options:hover { text-decoration: none; }
.options:active { text-decoration: none; }

.go-home {
    margin-top: 5%;
    display: inline-grid !important;
    background: burlywood;
    color: darkslategrey;
    border-radius: 35px;
    width: 60% !important;
    height: 140%;
    border-color: antiquewhite;
    border: 2px;
    border-style: solid;
}
/*.go-home:hover {*/
/*    background: darkslategrey;*/
/*    color: antiquewhite;*/
/*    border-radius: 35px;*/
/*    border-color: dimgray;*/
/*}*/
.slide_left:hover {
    box-shadow: inset 0 0 0 50px darkslategrey;
    color: burlywood;
    transition: 1s;
}
.go-home:link { text-decoration: none; }
.go-home:visited { text-decoration: none; }
.go-home:hover { text-decoration: none; }
.go-home:active { text-decoration: none; }

.show-data {
    background: darkslategray;
    text-align: center;
    color: antiquewhite;
}
.user {
    box-shadow: 6px 17px 47px;
    height: 158px !important;
    margin-top: 14%;
    text-align: center !important;
    display: block;
    background: burlywood;
    color: black;
    border-radius: 35px;
    width: 50%;
}
.visit {
    box-shadow: 6px 17px 47px;
    height: 135px !important;
    margin-top: 5%;
    text-align: center !important;
    display: block;
    background: burlywood;
    color: black;
    border-radius: 35px;
    width: 50%;
}
#footer-icon-bahai {
    position: fixed;
    padding: 18px 15px 25px 32px;
    width: 28px;
    height: 29px;
    border-radius: 16%;
    background: dimgray;
    left: -24px;
    bottom: -24px;
}
.fa-bahai:before {
    content: "\f666";
    background: dimgray;
    color: burlywood;
}
#footer-icon-bahai:hover {
    transition: 1s;
    box-shadow: 7px 3px 14px;
}
.hide {
    display: none;
}
.hide:hover {
    visibility: visible !important;
    color: antiquewhite !important;
}
/*#footer-icon-bahai:hover {*/
/*    display: flex;*/
/*    !*transition: 1.5s;*!*/
/*    position: fixed;*/
/*    padding: 18px 15px 25px 32px;*/
/*    width: 223px;*/
/*    height: 29px;*/
/*    border-radius: 16%;*/
/*    background: dimgray;*/
/*    left: -24px;*/
/*    bottom: -24px;*/
/*}*/
#footer-icon-git {
    position: fixed;
    padding: 18px 15px 25px 32px;
    width: 28px;
    height: 29px;
    border-radius: 16%;
    background: burlywood;
    left: 29px;
    bottom: -24px;
}
.fa-github-alt:before {
    content: "\f113";
    background: burlywood !important;
    color: darkslategrey; !important;
}
#footer-icon-git:hover {
    transition: 1s;
    box-shadow: 7px 3px 14px;
}
.rotate-icon {
    transition:2.5s;
}
.rotate-icon:hover{
    -o-transform:rotate(720deg);
    -ms-transform:rotate(720deg);
    -moz-transform:rotate(720deg);
    -webkit-transform:rotate(720deg);
    transform:rotate(720deg);
}
.icon-bottom {
    color: burlywood;
    background: dimgray;
}
.icon-bottom:link { text-decoration: none; }
.icon-bottom:visited { text-decoration: none; }
.icon-bottom:hover { text-decoration: none; }
.icon-bottom:active { text-decoration: none; }

.wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* border-radius: 5px; */
    background-image: linear-gradient(to top, #edcf43 52%, #edcf43 26%);
    overflow: hidden;
}
.wave {
    width: 1312px;
    height: 1209px;
    position: absolute;
    top: -25%;
    left: 50%;
    margin-left: -681px;
    margin-top: -602px;
    border-radius: 35%;
    background: rgb(9 80 85);
    animation: wave 13s infinite linear;
}

@keyframes wave {
    from { transform: rotate(0deg);}
    from { transform: rotate(360deg);}
}