.full-align {
    text-align: -webkit-center;
}
.main-circle {
    height: 135px !important;
    margin-top: 14%;
    text-align: center !important;
    display: block;
    background: burlywood;
    border-radius: 35px;
    width: 50%;
}
.full-options {
    display: inline-grid;
    justify-items: center;
}
.options {
    display: inline-grid !important;
    background: darkslategrey;
    color: antiquewhite;
    border-radius: 35px;
    width: 160%;
    height: 140%;
}
.options:hover {
    background: antiquewhite;
    color: darkslategrey;
    border-radius: 35px;
}
.options:link { text-decoration: none; }
.options:visited { text-decoration: none; }
.options:hover { text-decoration: none; }
.options:active { text-decoration: none; }

.draw-diagonal-wave {
    background:
            radial-gradient(7em 7em at 35% 35%, red 50%, transparent 50%),
            radial-gradient(7em 7em at 50% 50%, gold 50%, transparent 50%),
            radial-gradient(7em 7em at 65% 65%, blue 50%, transparent 50%);
    background-repeat: repeat;
    width: 240px;
    height: 240px;
}
.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat !important;
    background-position: 0 bottom;
    transform-origin: center bottom;
}
.waveTop {
    background-size: 50% 100px;
}
.waveTop {
    background-size: 50% 100px;
    animation: wave 3s;
    animation-delay: 1s;
}
@keyframes wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1);
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.50);
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1);
    }
}
.waveMid {
    background-size: 50% 120px;
    animation: wave 10s linear infinite;
}
.waveBottom {
    background-size: 50% 100px;
    animation: wave 15s linear infinite;
}