<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en" style="background: darkslategrey;color: antiquewhite;text-align: center">
<link rel="stylesheet" href="../static/css/sketch.css" th:href="@{/css/sketch.css}">
<div class="full-align">
<head>
  <title>Submit new visit</title>
  <meta charset="UTF-8">
</head>
<div class="visit">
    <body>
    <h1>Nova Visita</h1>
    <form action="#" th:action="@{/new-visit}" th:object="${visits}" method="post">
        <p>
            Nome: <input required type="text" th:field="*{Name}"/> Endereço: <input type="text" placeholder="[Rua], [bairro]" th:field="*{Address}"/>
        </p>
        <p>
            Idade: <input required type="number" th:field="*{Age}"/> Livro(s): <input th:if="${go2Activities} ? required : ''" type="text" placeholder="Livro 1, 2, 3..." th:field="*{BookStudying}"/>
        </p>
        <br/>
        <p>
            <a style="color: burlywood">Frequenta as atividades? </a><input type="checkbox" style="color: burlywood" th:field="*{go2Activities}"/>
        </p>
        <textarea rows="12" cols="100" name="description" style="align-content:center; overflow:auto; border:6px outset #dbbb83;margin-left: -15%" placeholder="Observações adicionais..." th:field="*{Observation}">
             </textarea><br>
        <p>
          <input type="submit" value="Submit"/> <input type="reset" value="Reset"/>
        </p>
        <br/>
        <p>
            <a href="/" class="go-home slide_left">Início</a>
        </p>
    </form>
</body>
</div>
</div>
</html>