<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" style="background: darkslategrey">
<link rel="stylesheet" href="../static/css/sketch.css" th:href="@{/css/sketch.css}">
<div class="full-align">
    <h1 style="color: antiquewhite">Welcome to the ViMan, the Visits Manager</h1>
    <div class="main-circle">
        <head>
            <title>Welcome | Home</title>
            <meta charset="UTF-8">
        </head>
        <body>
            <h1>Choose your option</h1>
            <div class="full-options">
                <a href="/add-user" class="options">Submit an user</a>
                <br/>
                <a href="/new-visit" class="options">Submit new visit</a>
            </div>
        </body>
    </div>
</div>
</html>