<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" style="background: darkslategrey;color: antiquewhite">
<link rel="stylesheet" href="../static/css/sketch.css" th:href="@{/css/sketch.css}">
<div class="full-align">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Visits | Main</title>
    <meta charset="UTF-8">
  </head>
  <body>
  <h1>Visita</h1>
  <div class="visit" style="height: 170px !important;">
    <p th:text="'Nome: ' + ${visits.Name}"></p> <p th:text="'Endereço: ' + ${visits.Address}"></p>
    <p th:text="'Idade: ' + ${visits.Age}"></p> <p th:text="'Livro(s): ' + ${visits.BookStudying} ? ${visits.BookStudying} : 'Nada registrado...'"></p>
    <p th:text="'Observação(s): ' + ${visits.Observation}"></p>
    <p th:type="checkbox" th:text="${visits.go2Activities} ? 'Frequenta as atividades? Sim' : 'Frequenta as atividades? Não'"></p>
    <br/>
    <br/>
    <a href="/new-visit" class="go-home slide_left" style="height: 16%">Criar uma nova visita</a>
  </div>
  </body>
</div>
</html>