<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" style="background: darkslategrey">
<link rel="stylesheet" href="../static/css/sketch.css" th:href="@{/css/sketch.css}">
<script src="https://kit.fontawesome.com/e08cb021c1.js" crossorigin="anonymous"></script>
<section>
    <div class="full-align">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <h1 style="color: antiquewhite">Bem vindo ao ViMan, o gerenciador de visitas!</h1>
        <div class="main-circle">
            <head>
                <meta charset="UTF-8"/>
                <title>Welcome | Home</title>
            </head>
            <body>
            <h1>Escolha sua opção</h1>
            <div class="full-options">
                <a href="/add-user" class="options">Criar usuário</a>
                <br/>
                <a href="/new-visit" class="options">Criar nova visita</a>
            </div>
            </body>
        </div>
        <div id="footer-icon-git">
            <div class="rotate-icon">
                <a href="https://github.com/adal877" class="icon-bottom" target="_blank">
                    <i class="fa-brands fa-github-alt fa-2xl"></i>
                </a>
            </div>
        </div>
        <div id="footer-icon-bahai">
            <div class="rotate-icon">
                <a href="https://www.bahai.org" class="icon-bottom" target="_blank">
                    <i class="fa-solid fa-bahai fa-2xl"></i>
                </a>
            </div>
        </div>
    </div>
</section>
</html>